div.topbanner{
    height: 200px;
    background-color: #90EE90;
    padding-left: 10px;
    padding-top: 10px;

}

center.topbanner{
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    position: absolute;
    top: 110px;
    text-align: center;
    width: 90%;
}

@media (max-width: 1120px){
    img.topbanner{
        display: none;
    }
}
